html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.carousel-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-text {
    position: absolute;
    bottom: 40%;

    display: flex;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

.carousel-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.info-button {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #848484;
    color: white;

    border: none;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: #c4bfbf;
}

.carousel-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 0 20px;
    transition: color 0.3s ease;
}

.carousel-control:hover {
    color: #0e5d98;
}